<p>repondre works!</p>


<p>form-enseignant works!</p>

<p>creer-question works!</p>


    <div>
        <form class="mx-1 mx-md-4" [formGroup]="reponseForm">
        <div class="container-fluid mt-50">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="media flex-wrap w-100 align-items-center"> <!-- <img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt=""> -->
                                <div class="media-body ml-3"> 
                                    <a href="javascript:void(0)" data-abc="true">
    
                                        <input formControlName="id_personne" type="text" placeholder="inserer votre id">
                                    </a>
                                    
                                </div>
                                <!--
                                <div class="text-muted small ml-3">
                                    <div>Member since <strong>01/1/2019</strong></div>
                                    <div><strong>134</strong> posts</div>
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="card-body">
                            <h1> 
                                
                                <textarea placeholder="Inserer votre Question" formControlName="reponse" class="form-control" name="" id="" cols="30" rows="4"></textarea> 
                            </h1>
                        </div>
                        
                        <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                            <!--
                            <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span> </a> <span class="text-muted d-inline-flex align-items-center align-middle ml-4"> <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span> </span> </div>
                            -->
                            <!---->



                            </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg" (click)="saveReponse()" >Enregistrer</button>
        <button type="reset" class="btn btn-primary btn-lg">Recommencer saisie</button>
    </div>



<!--

<form class="mx-1 mx-md-4" [formGroup]="discussionForm">



    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="nom">Intitulé Question :</label> 
            <input type="text" formControlName="question" class="form-control" />
        </div>
    </div>


    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg" (click)="saveQuestion()" >Enregistrer</button>
        <button type="reset" class="btn btn-primary btn-lg">Recommencer saisie</button>
    </div>

</form>
-->



<!--
<form class="mx-1 mx-md-4" [formGroup]="reponseForm">



    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="reponse">reponse :</label> 
            <textarea type="text" formControlName="reponse" class="form-control"></textarea>
        </div>


        
    </div>




    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg" (click)="saveReponse()" >Enregistrer</button>
        <button type="reset" class="btn btn-primary btn-lg">Recommencer saisie</button>
    </div>

</form>

-->