.conteneur {
    background-color: bisque;
    border-radius: 25px;
    margin: 50px auto;
    width: 80%;
    padding: 50px;
  }

  h2{
    margin: 35px auto;
    width: 80%;
    user-select: none;
}