<h2>Liste des étudiants</h2>
<div class="conteneur">
    <div class="cards">
    <div class="blocinfo" *ngFor="let etu of getListeEtudiant | async">
        <div class="idicone">
            <img src="https://cdn1.iconfinder.com/data/icons/ionicons-sharp-vol-2/512/person-circle-sharp-1024.png" alt="profile" draggable="false">
            <div class="id">{{etu.id}} </div>
        </div>
        <div class="bloctexte">
            <div class="nom">{{etu.nom}} </div>
            <div class="prenom">{{etu.prenom}} </div>
            <div class="dateNaissance">{{etu.dateNaissance}} </div>
            <div class="dateInscription">{{etu.dateInscription}} </div>
        </div>
        <div class="boutons">
            <button class="boutonmodifier" (click)="getEtudiantById(etu.id)">Modifier</button>
            <button class="boutonsupprimer" (click)="deleteEtudiant(etu.id)">Supprimer</button>
        </div>
    </div>
</div>
</div>
