#divFormPostulant{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#addInputSymbole{
    font-weight: bold;
    font-size: 2em;
}
#addInputSymbole:hover{
    cursor: pointer;
    color: red;
}

