.conteneur {
    background-color: bisque;
    border-radius: 25px;
    margin: 50px auto;
    width: 80%;
    padding: 50px;
  }

  h2{
    margin: 35px auto;
    width: 80%;
    user-select: none;
}


#divFormPostulant{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-bottom: 2.7%;
}

#addInputSymbole{
    font-weight: bold;
    font-size: 2em;
}
#addInputSymbole:hover{
    cursor: pointer;
    color: red;
}
.btn{
    margin-top: 2%;
}
#buttonReset{
    margin-left: 1%;
}
