<h2>Statistiques</h2>
<div class="conteneur">
    <div class="card"><b>Moyenne des élèves toutes matières confondues</b><span>{{ moyenne }}</span></div>
    <div class="card"><b>Nombre total d'étudiants</b><span>{{ nombreetu }}</span></div>
    <div class="card"><b>Nombre total d'enseignants</b><span>{{ nombrenseignants }}</span></div>
    <div class="card"><b>Plus haute note de l'école</b><span>{{ notelaplushaute }}</span></div>
    <div class="card"><b>Plus basse note de l'école</b><span>{{ notelaplusbasse }}</span></div>
    <div class="card"><b>Nombre de Jean Michel</b><span>{{ jeanmich }}</span></div>
    <div class="card"><b>Nombre de messages envoyés</b><span>{{ totalmessages }}</span></div>
    <div class="card"><b>Nombre de postulants</b><span>{{ nombrepostulants }}</span></div>
    <div class="card"><b>Taux de diplômés de l'année précédente</b><span>98%</span></div>
</div>


