.div_cont{
    padding:10px;
    background:bisque;
    color: #708090;
    width: 80%;
    margin: 50px auto;
    border-radius: 25px;
}
.icon-1x {
    font-size: 24px !important;
}
a{
    text-decoration:none;    
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}

.seree-2{
    margin-bottom: 2px;
    
}

.gris{
    color: #5c7172;
}

.main-cursor {
    cursor: pointer;
  }

  #poser-question-btn {
    background-color: #00ADBB;
    color: #fff;
    font-weight: bold;
  }
  
  #poser-question-btn:hover {
    background-color: #0099B3;
  }
  
  #poser-question-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 173, 187, 0.5);
  }
  
  #poser-question-btn:active {
    background-color: #008299;
    margin: auto;
    width: 20%;
  }


  #supprimer-question-btn {
    background-color: transparent;
    color: #5c7172;
    font-size: 14px;
    margin-left: auto;
    
  }
  
  #supprimer-question-btn:hover {
    color: #000;
  }
  
  .btn-sm {
    font-size: 12px;
    padding: 0.25rem 0.5rem;
  }