

        
<div class="div_cont">


  

    <div class="container ">
    
      <button id="poser-question-btn" *ngIf="!enseignant"  type="button" class="btn btn-primary" (click)="poserUneQuestion()">Poser une question</button>
    
    
          <div class="row">
            <!-- Main content -->
            <div class="col-lg-9 mb-3 py-3">
              <!-- End of post 1 -->
              <div *ngFor="let discussion of listeDiscussion | async" class="card row-hover pos-relative  px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                <div class="row align-items-center">
                  
                  
                  <div class=" mb-3 mb-sm-0">
                    <h3 >
                      <a  (click)="selecionnerDiscussion(discussion.idDiscussion)" class="text-primary main-cursor">{{discussion.question}} </a>   
                    </h3>
                    <p *ngIf="enseignant" class="text-sm seree-2"><span class="op-6 "> par {{discussion.etudiant.nom}} {{discussion.etudiant.prenom}}</span> <span class="gris" *ngIf="discussion.enseignant"> (en privé) </span> </p>
                    <p *ngIf="!enseignant" class="text-sm seree-2"><span class="op-6 " *ngIf="discussion.enseignant"> à {{discussion.enseignant.nom}} {{discussion.enseignant.prenom}}</span> <span class="gris" *ngIf="discussion.enseignant"> (en privé) </span> </p>
                    
                    
                    <div class="text-sm op-5 gris d-flex justify-content-between" >  le {{discussion.date}} 

                      
                      <button  id="supprimer-question-btn" *ngIf="!enseignant" type="button" class="btn btn-sm ml-auto" (click)="supprimerQuestion(discussion.idDiscussion)">Supprimer</button>
  

                    </div>
                    
                </div>
                <!--
                  <div class="col-md-4 op-7">
                    <div class="row text-center op-7">
                      <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">141 Votes</span> </div>
                      <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">122 Replys</span> </div>
                      <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">290 Views</span> </div>
                    </div>
                  </div>
                -->
                </div>
    
                

              </div>
              <!-- /End of post 1 -->
            </div>
    
          </div>
        </div>
    
    
      </div>
