<p>liste-question works!</p>




<!--
<div class="conteneur">
<button type="button" class="btn btn-primary" (click)="poserUneQuestion()">Poser une question</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Question</th>
            <th scope="col">date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let discussion of listeDiscussion | async">
            <th scope="row">{{discussion.idDiscussion}} </th>
            <td>{{discussion.question}} </td>
            <td>{{discussion.date}} </td>
            <td> 
                -->
                <!--
        <button type="button" class="btn btn-warning" (click)="getEnseignantByEnseignant(enseignant.id)">Modifier</button>
                -->
                <!--
                <button type="button" class="btn btn-secondary" (click)="selecionnerDiscussion(discussion.idDiscussion)">Selectionner</button>
                <button type="button" class="btn btn-danger" (click)="supprimerQuestion(discussion.idDiscussion)">Supprimer</button>
         

    </td>
            
        </tr>
    </tbody>
</table>


-->
              
<div class="div_cont">


  

<div class="container ">

  <button type="button" class="btn btn-primary" (click)="poserUneQuestion()">Poser une question</button>


      <div class="row">
        <!-- Main content -->
        <div class="col-lg-9 mb-3 py-3">
          <!-- End of post 1 -->
          <div *ngFor="let discussion of listeDiscussion | async" class="card row-hover pos-relative  px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h3 >
                  <a  (click)="selecionnerDiscussion(discussion.idDiscussion)" class="text-primary main-cursor">{{discussion.question}} </a>
                </h3>
                <p class="text-sm seree-2"><span class="op-6 "> par {{discussion.etudiant.nom}} {{discussion.etudiant.nom}}</span>  </p>
                
                
                <div class="text-sm op-5 gris">  le {{discussion.date}} </div>
                
            </div>
            <!--
              <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                  <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">141 Votes</span> </div>
                  <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">122 Replys</span> </div>
                  <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">290 Views</span> </div>
                </div>
              </div>
            -->
            </div>

          </div>
          <!-- /End of post 1 -->
        </div>

      </div>
    </div>
  </div>
