<h2>Liste des enseignants</h2>
<div class="conteneur">
    <div class="cards">

            <div class="blocinfo" *ngFor="let enseignant of listeEnseignant | async">
                <div class="idicone">
                    <img src="https://cdn1.iconfinder.com/data/icons/ionicons-sharp-vol-2/512/person-circle-sharp-1024.png" alt="profile" draggable="false">
                    <div class="id">{{enseignant.id}} </div>
                </div>
                <div>{{enseignant.nom}} </div>
                <div>{{enseignant.prenom}} </div>
                <div>{{enseignant.dateNaissance}} </div>
                <div>{{enseignant.dateEmbauche}} </div>
                <div class="boutons">
                    <button class="boutonmodifier" type="button" (click)="getEnseignantByEnseignant(enseignant.id)">Modifier</button>
                    <button class="boutonsupprimer"  type="button" (click)="supprimerEnseignant(enseignant.id)">Supprimer</button>  
                </div>
            </div>
    </div>
</div>