<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<h2>Liste des cours</h2>

<table class="conteneur">
  <div class="contenu">
    <div class="thead">
            <span class="idhead" scope="col">Id</span>
            <span scope="col">Nom du cours</span>
            <span scope="col">Attribuer une note au cours</span>
            <span scope="col">Notation generale</span>
    </div>
    <div class="tbody">
            <div *ngFor="let c of listeCours | async; let i = index">
                    <span class="idhead" scope="row">{{c.idCours}}</span>
                    <span>{{c.nom}}</span>
                    <span class="stars">
                        <i class="star stargrey fas fa-star" id="star1" data-index="0" (click)="note(1, c.idCours)"></i>
                        <i class="star stargrey fas fa-star" id="star2" data-index="1" (click)="note(2, c.idCours)"></i>
                        <i class="star stargrey fas fa-star" id="star3" data-index="2" (click)="note(3, c.idCours)"></i>
                        <i class="star stargrey fas fa-star" id="star4" data-index="3" (click)="note(4, c.idCours)"></i>
                        <i class="star stargrey fas fa-star" id="star5" data-index="4" (click)="note(5, c.idCours)"></i>
                    </span>
                    <span>
                        <ng-container *ngFor="let moy of listeMoyennesNotesCours | async; let j = index">
                            {{getMoyConvertString(moy)}}
                            <span class="stars" *ngIf="i==j" [id]="moyString">
                                <i class="star1 star2 star3 star4 star5 stargrey fas fa-star" id="star1" data-index="0"></i>
                                <i class="star2 star3 star4 star5 stargrey fas fa-star" id="star2" data-index="1"></i>
                                <i class="star3 star4 star5 stargrey fas fa-star" id="star3" data-index="2"></i>
                                <i class="star4 star5 stargrey fas fa-star" id="star4" data-index="3"></i>
                                <i class="star5 stargrey fas fa-star" id="star5" data-index="4"></i>
                                <p>{{moy}}/5</p>
                            </span>
                        </ng-container>	
                    </span>
                </div>
    </div>
   </div>
</table>



