.stargrey {
	color: #96969d;
}
.star:hover {
	cursor: pointer;
    color: #fedc18;
}

#un.stars .star1{
	color: #fedc18;
}
#deux.stars .star2{
	color: #fedc18;
}
#trois.stars .star3{
	color: #fedc18;
}
#quatre.stars .star4{
	color: #fedc18;
}
#cinq.stars .star5{
	color: #fedc18;
}
h2{
    margin: 35px auto;
    width: 80%;
}

.conteneur {
    width: 80%;
    margin: 50px auto;
    background-color: bisque;
    border-radius: 25px;
}

.contenu {
    padding: 50px;
}

th {
    width: 100px;
    width: 10%;
}
td{
    width: 10%;
}

.thead {
    background-color: rgb(17, 134, 213);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
}

.tbody {
    background-color:white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
}