
.stargrey {
	color: #96969d;
}

.star:hover {
	cursor: pointer;
    color: #fedc18;
}


#un.stars .star1{
	color: #fedc18;
}
#deux.stars .star2{
	color: #fedc18;
}
#trois.stars .star3{
	color: #fedc18;
}
#quatre.stars .star4{
	color: #fedc18;
}
#cinq.stars .star5{
	color: #fedc18;
}