<<<<<<< Updated upstream
body {
    background-color: beige;
    height: 100vh;
}

=======
>>>>>>> Stashed changes
.dropdownmenu {
    display: flex;
    border-bottom: 1px solid lightgrey;
}

  .dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
    display: block;
}

.dropdownmenu ul {
    list-style: none;
    width: 70%;
}
.dropdownmenu li {
    float: left;
    position: relative;
}

.section {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 1px solid white ;
}

.sousection a {
margin: 0px;
padding: 0px;
width: 100%;
}

.dropdownmenu a {
    color: black;
    display: block;
    font-size: 13px;
    padding: 15px; 
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    height: 60px;
}

.dropdownmenu li:hover a {
    background: rgb(17, 134, 213);
    color: white;
}
li:hover .sousectionlast{
    border-bottom-left-radius:  25px;
    border-bottom-right-radius:  25px;
}


#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    width: 100%;
}

li:hover ul#submenu{
    opacity: 1;
    visibility: visible;
}

#submenu li{
    float: none;
    }

#submenu a:hover{
    background-color: lightgrey;
}

    .d-flex {
        display: flex;
        width: 30%;
        margin: 10px;
    }

    .blocmenu {
        width: 25%;
    }

.form-control {
    min-width: 200px ;
}

.sectionnodropdown:hover{
    border-radius: 25px;
}