html {
    background-color: beige;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 1000px;
}

/* Menu */
.dropdownmenu {
    display: flex;
    border-bottom: 1px solid lightgrey;
}

  .dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
    display: block;
}

.dropdownmenu ul {
    list-style: none;
    width: 80%;
}
.dropdownmenu li {
    float: left;
    position: relative;
}

.section {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 1px solid white ;
}

.sousection a {
margin: 0px;
padding: 0px;
width: 100%;
}

.dropdownmenu a {
    color: black;
    display: block;
    font-size: 13px;
    padding: 15px; 
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    height: 60px;
}

.dropdownmenu li:hover a {
    background: rgb(17, 134, 213);
    color: white;
}
li:hover .sousectionlast{
    border-bottom-left-radius:  25px;
    border-bottom-right-radius:  25px;
}


#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    width: 100%;
}

li:hover ul#submenu{
    opacity: 1;
    visibility: visible;
}

#submenu li{
    float: none;
    }

#submenu a:hover{
    background-color: lightgrey;
}

    .grouperecherche {
        display: flex;
        margin: 10px 0;
        border-left: 1px solid grey;
        padding-left: 15px;

    }

    .insertiondetexte {
        border: 1 px solid black;
        border-radius: 25px;
        border: 1px solid transparent;
        padding: 5px;
    }

    .boutonrecherche {
        border: 2px solid rgb(27, 176, 27);
        background-color: beige;
        border-radius: 25px;
        margin-left: 15px;
    }

    .boutonrecherche:hover {
        background-color: rgb(27, 176, 27);
    }

    .blocmenu {
        width: 25%;
    }

.form-control {
    min-width: 200px ;
}

.sectionnodropdown:hover{
    border-radius: 25px;
}

@media (max-width: 800px) {
    .grouperecherche {
        display: none;
    }
    .dropdownmenu ul {
        width: 100%;
        }
  }