<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Etudiant
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li><a class="dropdown-item" routerLink="/listeCours">Liste des cours</a></li>
            <li><a class="dropdown-item" routerLink="/listeEnseignant">Liste des enseignants</a></li>
            <li><a class="dropdown-item" routerLink="/listeExamen">Liste des examens</a></li>
            <li><a class="dropdown-item" routerLink="/listeCopie">Liste des notes</a></li>
            <li><a class="dropdown-item" routerLink="/getListeDiscussion">Liste des Discution</a></li>

            <li><a class="dropdown-item" routerLink="#">Evaluer un cours/enseignant</a></li>
            <!-- liste matières+liste profs+horaires -->
            <li><a class="dropdown-item" routerLink="#">Emploi du temps</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Enseignant
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/uploadImage">Déposer un support de cours</a></li>
            <li><a class="dropdown-item" href="#">Déposer un examen et la correction</a></li>
            <li><a class="dropdown-item" href="#">Corriger un examen</a></li>
            <li><a class="dropdown-item" href="#">Répondre aux questions</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Administrateur
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="listePostulant">Liste des postulants</a></li>
            <li><a class="dropdown-item" routerLink="/ajoutEtudiant">Ajouter un étudiant</a></li>
            <li><a class="dropdown-item" routerLink="/getListeEtudiant">Liste des étudiants</a></li>
            <li><a class="dropdown-item" routerLink="#">Candidatures</a></li>
            <li><a class="dropdown-item" routerLink="#">Moyennes des étudiants</a></li>
            <li><a class="dropdown-item" routerLink="/statistiques">Statistiques</a></li>
          </ul>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="savePostulant"  role="button" >
            Postuler
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Que cherchez-vous?"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
