<body>
  <nav class="dropdownmenu">
  <ul>
    <li class="blocmenu">
      <a class="section" routerLink="">Etudiant</a>

      <ul id="submenu">
        <li><a class="sousection" routerLink="listeCours">Liste des cours</a></li>
        <li><a class="sousection" routerLink="listeEnseignant">Liste des enseignants</a></li>
        <li><a class="sousection" routerLink="listeExamen">Liste des examens</a></li>
        <li><a class="sousection" routerLink="listeCopie">Liste des notes</a></li>
        <li><a class="sousection" routerLink="getListeDiscussion">Liste des discussion</a></li>
        <li><a class="sousectionlast" routerLink="">Evaluer un cours/enseignant</a></li>
        <!-- <li><a routerLink="">Emploi du temps</a></li> -->
      </ul>
    </li>
    <li class="blocmenu">
      <a  class="section" routerLink="">Enseignant</a>
      <ul id="submenu">
        <li><a class="sousection" routerLink="uploadImage">Déposer un support de cours</a></li>
        <li><a class="sousection" routerLink="#">Déposer un examen et la correction</a></li>
        <li><a class="sousection" routerLink="#">Corriger un examen</a></li>
        <li><a class="sousectionlast" routerLink="#">Répondre aux questions</a></li>
      </ul>
    </li>
    <li class="blocmenu">
      <a  class="section" routerLink="">Administrateur</a>
      <ul id="submenu">
        <li><a class="sousection" routerLink="listePostulant">Liste des postulants</a></li>
        <li><a class="sousection" routerLink="getListeEtudiant">Liste des étudiants</a></li>
        <li><a class="sousection" routerLink="ajoutEtudiant">Ajouter un étudiant</a></li>
        <li><a class="sousection" routerLink="#">Candidatures</a></li>
        <li><a class="sousectionlast" routerLink="#">Statistiques</a></li>
      </ul>
    </li>
    <li class="blocmenu">
      <a class="sectionnodropdown" routerLink="/savePostulant">Postuler</a>
    </li>
  </ul>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Que cherchez-vous?" aria-label="Search"/>
    <button class="btn btn-outline-success" type="submit">Rechercher</button>
  </form>
</nav>
<router-outlet></router-outlet>
</body>

