<div class="qcm" *ngIf="showInstructions">
    <!-- Consignes du QCM -->
    <h2>Consignes du QCM</h2>
    <p>- Entrez votre numéro étudiant <br>
        - Cochez votre réponse <br>
        - Cliquez sur "Valider" <br>
        Attention : une fois votre réponse validée, vous ne pouvez pas revenir en arrière <br>
        - Cliquez sur "Suivant"
    </p>
    <button class="start-button" (click)="startQuiz()">Commencer</button>
  </div>

<div *ngIf="!showInstructions">


<div class="qcm">
    <div>{{intitule}}</div>
    <input *ngIf="classe != 'etudiant'" type="number" placeholder="Entrez votre id Etudiant" [(ngModel)]="idEtudiant"/>
    <h2>{{ currentQuestion.q }}</h2>
    <ul>
      <li *ngFor="let answer of currentQuestion.a">
        <label>
          <input type="radio" name="answer" [(ngModel)]="selectedOption" [value]="answer.isCorrect.toString()" [disabled]="isAnswerDisabled()"/>
          {{ answer.text }}
        </label>
      </li>
    </ul>
    <button (click)="evaluateAnswer()">Valider</button>
    <p>Result: {{ result }}</p>
    <button (click)="nextQuestion()">{{ buttonText }}</button>
  </div>
</div>

  
  