.conteneur {
  width: 80%;
  margin: 50px auto;
  height: 100%;
  }

h2 {
  margin: 35px auto;
  width: 80%;
  }

form {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: 50px auto 0px auto;
  padding: 50px;
  border-radius: 40px;
  background-color: bisque;
}

.inputUpdateEtudiant {
  width: 50%;
  margin: 0;
  }

  button {
      display: block;
      position: relative;
      top: 20px;
      }

h1 {
  text-align: center;
}

label, input {
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: transparent;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: rgb(17, 134, 213);
  color: white;
  border-radius: 10px;
  border: transparent;
  padding: 5px;
  margin: 5px;
}

.submit {
  margin-top: 30px;
}