<div class="conteneur">
<section class="formEtudiant">
    <h2>Créer un étudiant</h2>
    <form [formGroup]="etudiantForm">
      <div class="champs">
        <div class="">
          <label for="login">Login : </label>
          <input class="inputUpdateEtudiant" type="text" class="" formControlName="login" />
        </div>
      </div>
      <div class="champs">
        <div class="">
          <label for="nom">Nom : </label>
          <input class="inputUpdateEtudiant" type="text" class="" formControlName="nom" />
        </div>
      </div>
      <div class="champs">
        <div class="">
          <label for="prenom">Prénom : </label>
          <input class="inputUpdateEtudiant" type="text" class="" formControlName="prenom" />
        </div>
      </div>
      <div class="champs">
        <div class="">
          <label for="dateNaissance">Date de Naissance :</label>
          <input class="inputUpdateEtudiant" type="date" formControlName="dateNaissance" />
        </div>
      </div>
      <div class="champs">
        <div class="">
          <label for="dateInscription">Date d'inscription :</label>
          <input class="inputUpdateEtudiant" type="date" formControlName="dateInscription" />
        </div>
      </div>
        <button type="submit" (click)="ajoutEtudiant()">Enregistrer</button>
        <button type="reset" class="">Recommencer Saisie</button>
    </form>
  </section>
</div>

