
.btn-primary{
    color: #fff;
    background-color: #00ADBB;
    border-color: #00ADBB
}

.btn{
    font-weight: 500;
    outline: none !important;
    position: relative;
    transition: color 0.15s,background-color 0.15s,border-color 0.15s,box-shadow 0.15s
}
    
.card-body{
    flex: 1 1 auto;padding: 1.25rem
}

.card-body p{
    font-size: 13px
}

a{color: #1e3de9;
    text-decoration: none !important;
    background-color: transparent
}

.media img{
    width: 40px;
    height: auto
}


.gris{
    color: #5c7172;
}



#retour-liste-btn {
    background-color: #00ADBB;
    color: #fff;
    font-weight: bold;
  }
  
  #retour-liste-btn:hover {
    background-color: #0099B3;
  }
  
  #retour-liste-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 173, 187, 0.5);
  }
  
  #retour-liste-btn:active {
    background-color: #008299;
  }