#groupementPar3{
    display: flex;
  }

  .conteneur {
    background-color: bisque;
    border-radius: 25px;
    margin: 50px auto;
    width: 80%;
    padding: 50px;
  }

  h2{
    margin: 35px auto;
    width: 80%;
    user-select: none;
}

img {
  margin: auto;
  width: 150px;
}

.card{
    width: 330px;
    margin: auto;
    cursor: pointer;
}
.statut{
    font-style: italic;
}
h5{
    text-align: center;
}
.divInline{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}
.dotAttente {
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 1%;
  }
  .dotRefus {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 1%;
  }
  .dotAccepte {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 1%;
  }
  .btn-danger{
    margin-left: 2px;
    margin-right: 2px;
  }

  @media (max-width: 1024px) {
    #groupementPar3 {
      flex-direction: column;
      gap: 25px;
    }
  }