#groupementPar3{
    display: flex;
    margin-left: 5%;
}
.card{
    margin-left: 2%;
    margin-top: 2%;
}
.statut{
    font-style: italic;
}
h5{
    text-align: center;
}
.divInline{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}
.dotAttente {
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 1%;
  }
  .dotRefus {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 1%;
  }
  .dotAccepte {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 1%;
  }
  .btn-danger{
    margin-left: 2px;
    margin-right: 2px;
  }