
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date de naissance</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">CV</th>
        <th scope="col">Fichier</th>
        <th scope="col">Statut</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let postulant of listePostulant | async ">
        <th scope="row">{{postulant.id}}</th>
        <td>{{postulant.dateNaissance}}</td>
        <td>{{postulant.nom}}</td>
        <td>{{postulant.prenom}}</td>
        <td>{{postulant.cv}}</td>
        <td>{{postulant.fichiers}}</td>
        <td>{{postulant.statut}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deletePostulant(postulant.id)">Supprimer</button>
          <button type="button" class="btn btn-warning" (click)="refuserPostulant(postulant.id)" >Refuser</button>
          <button type="button" class="btn btn-success" (click)="accepterPostulant(postulant.id)">Success</button></td>
      </tr>
    </tbody>
  </table>