<h2>Liste des postulants</h2>
<div class="conteneur">
<div id="groupementPar3" *ngFor="let postulant of listePostulantFixe; let i = index">
  <div class="card" *ngIf="listePostulantFixe[i * 4]">
    {{couleurBoutonStatut(listePostulantFixe[i * 4].statut)}}
    {{disableButton(listePostulantFixe[i * 4].statut)}}
    <div class="divInline">
      <span [class]="dot"></span><span class="statut">{{listePostulantFixe[i * 4].statut}}</span>
    </div>
    <img src="https://cdn1.iconfinder.com/data/icons/ionicons-sharp-vol-2/512/person-circle-sharp-1024.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{listePostulantFixe[i * 4].nom}} {{listePostulantFixe[i * 4].prenom}}</h5>
        <p class="card-text">{{listePostulantFixe[i * 4].dateNaissance}}</p> <a routerLink="afficherCV/{{listePostulantFixe[i * 4].id}}">Voir CV et autres</a>
        <p class="card-text">{{listePostulantFixe[i * 4].email}}</p>
        <button type="button" [disabled]="isNotWaiting" class="btn btn-success" (click)="accepterPostulantAwait(listePostulantFixe[i * 4].id)">Accepter</button>
        <button type="button" [disabled]="isNotWaiting" class="btn btn-danger" (click)="refuserPostulantAwait(listePostulantFixe[i * 4].id)" >Refuser</button>
        <button type="button" [disabled]="isWaiting" class="btn btn-secondary" (click)="deletePostulant(listePostulantFixe[i * 4].id)">Supprimer</button>
    </div>
  </div>
    <div class="card" *ngIf="listePostulantFixe[i * 4 +1]">
    {{couleurBoutonStatut(listePostulantFixe[i * 4 + 1].statut)}}
    {{disableButton(listePostulantFixe[i * 4 + 1].statut)}}
    <div class="divInline">
      <span [class]="dot"></span><span class="statut">{{listePostulantFixe[i * 4 + 1].statut}}</span>
    </div>
    <img src="https://cdn1.iconfinder.com/data/icons/ionicons-sharp-vol-2/512/person-circle-sharp-1024.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{listePostulantFixe[i * 4 + 1].nom}} {{listePostulantFixe[i * 4 + 1].prenom}}</h5>
      <p class="card-text">{{listePostulantFixe[i * 4 + 1].dateNaissance}}</p> <a routerLink="afficherCV/{{listePostulantFixe[i * 4 + 1].id}}">Voir CV et autres</a>
      <p class="card-text">{{listePostulantFixe[i * 4 + 1].email}}</p>
        <button type="button" [disabled]="isNotWaiting" class="btn btn-success" (click)="accepterPostulantAwait(listePostulantFixe[i * 4 + 1].id)">Accepter</button>
        <button type="button" [disabled]="isNotWaiting" class="btn btn-danger" (click)="refuserPostulantAwait(listePostulantFixe[i * 4 + 1].id)" >Refuser</button>
        <button type="button" [disabled]="isWaiting" class="btn btn-secondary" (click)="deletePostulant(listePostulantFixe[i * 4 + 1].id)">Supprimer</button>
    </div>
  </div>
  <div class="card" *ngIf="listePostulantFixe[i * 4 +2]">
    {{couleurBoutonStatut(listePostulantFixe[i * 4 + 2].statut)}}
    {{disableButton(listePostulantFixe[i * 4 + 2].statut)}}
    <div class="divInline">
      <span [class]="dot"></span><span class="statut">{{listePostulantFixe[i * 4 + 2].statut}}</span>
    </div>
    <img src="https://cdn1.iconfinder.com/data/icons/ionicons-sharp-vol-2/512/person-circle-sharp-1024.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{listePostulantFixe[i * 4 + 2].nom}} {{listePostulantFixe[i * 4 + 2].prenom}}</h5>
      <p class="card-text">{{listePostulantFixe[i * 4 + 2].dateNaissance}}</p> <a routerLink="afficherCV/{{listePostulantFixe[i * 4 + 2].id}}">Voir CV et autres</a>
      <p class="card-text">{{listePostulantFixe[i * 4 + 2].email}}</p>
        <button type="button" [disabled]="isNotWaiting" class="btn btn-success" (click)="accepterPostulantAwait(listePostulantFixe[i * 4 + 2].id)">Accepter</button>
        <button type="button" [disabled]="isNotWaiting" class="btn btn-danger" (click)="refuserPostulantAwait(listePostulantFixe[i * 4 + 2].id)" >Refuser</button>
        <button type="button" [disabled]="isWaiting" class="btn btn-secondary" (click)="deletePostulant(listePostulantFixe[i * 4 + 2].id)">Supprimer</button>
    </div>
  </div>
  <div class="card" *ngIf="listePostulantFixe[i * 4 +3]">
    {{couleurBoutonStatut(listePostulantFixe[i * 4 + 3].statut)}}
    {{disableButton(listePostulantFixe[i * 4 + 3].statut)}}
    <div class="divInline">
      <span [class]="dot"></span><span class="statut">{{listePostulantFixe[i * 4 + 3].statut}}</span>
    </div>
    <img src="https://cdn1.iconfinder.com/data/icons/ionicons-sharp-vol-2/512/person-circle-sharp-1024.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{listePostulantFixe[i*4+3].nom}} {{listePostulantFixe[i*4+3].prenom}}</h5>
      <p class="card-text">{{listePostulantFixe[i*4+3].dateNaissance}}</p> <a routerLink="afficherCV/{{listePostulantFixe[i * 4 + 3].id}}">Voir CV et autres</a>
      <p class="card-text">{{listePostulantFixe[i * 4 + 3].email}}</p>
        <button type="button" [disabled]="isNotWaiting" class="btn btn-success" (click)="accepterPostulantAwait(listePostulantFixe[i*4+3].id)">Accepter</button>
        <button type="button" [disabled]="isNotWaiting" class="btn btn-danger" (click)="refuserPostulantAwait(listePostulantFixe[i*4+3].id)" >Refuser</button>
        <button type="button" [disabled]="isWaiting" class="btn btn-secondary" (click)="deletePostulant(listePostulantFixe[i*4+3].id)">Supprimer</button>
    </div>
  </div>
</div>
</div>
