.conteneur {
  width: 80%;
  margin: 50px auto;
  height: 100%;
  }

h2 {
  margin: 35px auto;
  width: 80%;
  }

  .formEtudiant {
    width: 80%;
    margin: auto;
    }
    

form {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0px auto;
  padding: 50px;
  border-radius: 40px;
  background-color: bisque;
}
  
  .inputUpdateEtudiant {
    width: 50%;
    margin: 0;
    }

  
  h1 {
    text-align: center;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: transparent;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button {
    display: block;
    background-color: rgb(17, 134, 213);
    color: white;
    border-radius: 10px;
    border: transparent;
    padding: 5px;
    margin: 5px;
    width: 50%;
    margin: 10px auto;
  }

  .boutons {
    display: flex;
    gap: 2%;
}
  
  .submit {
    margin-top: 30px;
  }