<h2>Liste des examens</h2>
<div class="conteneur">
  <div class="cards">
    <div class="blocinfo" *ngFor="let examen of listeExamen | async">
      <div class="id">{{ examen.idExamen }}</div>
      <div class="bloctexte">
            <!-- <div><b>Matière : </b>{{ matiere.nom }}</div> -->
            <div><b>Cours : </b>{{ examen.intitule }}</div>
            <div><b>Coefficient : </b>{{ examen.coef }}</div>
            <div><b>Date de l'examen : </b>{{ examen.date }}</div>
            <div><b>Durée de l'examen : </b>{{ examen.duree }}H</div>
      </div>
      <div class="boutons">
        <div class="ligne1">
          <button class="passerExamen" routerLink="/qcm">Passer l'examen</button>
          <button class="boutonsupprimer" (click)="deleteExamen(examen.idExamen)">Supprimer</button>          
        </div>
      </div>
    </div>
  </div>
</div>
