h2{
    margin: 35px auto;
    width: 80%;
}

.boutons {
    position: relative;
    text-align: right;
    margin: 15px;
}

.boutonsupprimer{
    padding: 5px 10px;
    margin: 0 5px;
    width: 150px;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(244, 21, 21);
}

.passerExamen {
    padding: 5px 10px;
    margin: 0 5px;
    width: 150px;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(27, 176, 27);
}

.boutonmodifier:hover , .boutonsupprimer:hover, .passerExamen:hover {
    opacity: 80%;
}

.conteneur {
    width: 80%;
    margin: auto;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 50px;
    border: transparent;
    gap: 25px;


}

.blocinfo {
    background-color: bisque;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
}

.bloctexte {
    margin: auto;
    width: 50%;
    user-select: none;
}

.id {
    background-color: lightgrey;
    width: 40px;
    border-radius: 10px;
    padding: 13px;
    user-select: none;
}

.idicone {
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
margin-bottom: 20px;
}

img {
    width: 50px;
}

@media (max-width: 800px) {
    .boutons {
        text-align: center;
    }
    .bloctexte {
        width: 90%;
    }

    .ligne1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            }
  }